bcrypt==3.1.7
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-JSGlue==0.3.1
Flask-MySQLdb==0.2.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==1.4.2
pycparser==2.19
python-http-client==3.1.0
requests==2.22.0
sendgrid==6.0.5
six==1.12.0
stripe==2.32.0
urllib3==1.26.5
Werkzeug==0.15.4
