{% extends 'client/layout.html' %}
{% block title %}Recuperar contraseña{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/" class="black-text">Inicio</a></li>
<li class="breadcrumb-item active">Recuperar contraseña</li>
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2 class="mb-40">Recuperaci&oacute;n de contraseña</h2>
    <div class="all-width">
        <div class="col-md-8 m-0-auto">
            {% if request.args.get('status') == 'success' %}
                <div class="alert alert-success" role="alert">
                    Su contraseña ha sido cambiada exitosamente. Por favor, intente iniciar sesi&oacute;n nuevamente.
                </div>
            {% else %}
                {% if request.args.get('status') == 'invalidAction' %}
                    <div class="alert alert-danger" role="alert">
                        Esta acci&oacute;n es inv&aacute;lida. Realice el proceso correcto para recuperar su cuenta.
                    </div>
                {% endif %}
                <form action="/account/password_reset/password_change" method="POST">
                    <div class="form-group">
                        <label for="restorePassword">Nueva contraseña</label>
                        <input type="password" name="restorePassword" id="restorePassword" class="form-control" placeholder="Ingrese su nueva contraseña" required>
                    </div>
                    <div class="form-group">
                        <label for="restoreConfirmPassword">Confirmar contraseña</label>
                        <input type="password" name="restoreConfirmPassword" id="restoreConfirmPassword" class="form-control" placeholder="Confirme su nueva contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-amber">Actualizar contraseña</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}